<!-- Contact Section -->
<section id="contact" class="py-5" [@fadeIn]>
    <div class="container">
      <h2 class="text-center mb-4"><span class="skill-card">Get in Touch</span></h2>
      <p class="text-center mb-4">Feel free to reach out if you have any questions or opportunities. I'm always excited to connect with like-minded professionals.</p>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form action="mailto:ae639659@gmail.com" method="post">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Your name">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Your email">
            </div>
            <div class="mb-3">
              <label for="message" class="form-label">Message</label>
              <textarea class="form-control" id="message" rows="4" placeholder="Your message"></textarea>
            </div>
              <button type="submit" class="btn btn-outline-info">Send Message</button>
              
        <a href="https://drive.google.com/file/d/1jOpGqyfbmnzdHiumeXXR3EO6xTg6jH4e/view?usp=drive_link" target="_blank" class="m-3">
          <button type="button" class="btn btn-outline-info">My CV</button>
        </a>
          </form>
        </div>
      </div>
    </div>
    <div class="social-icons text-center mt-5">
      <a href="https://www.linkedin.com/in/ahmed-emad-a23061224" target="_blank" class="text-dark me-3">
        <i class="fab fa-linkedin fa-3x skill-card"></i>
      </a>
      <a href="https://github.com/AhmedEmad68" target="_blank" class="text-dark me-3">
        <i class="fab fa-github fa-3x skill-card"></i>
      </a>
    </div>
  </section>
  