 <!-- About Section -->
 <section id="about" class="py-5" [@fadeIn]>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-3 skill-card">
        <img src="4.jpg" alt="Personal Image" class="img-fluid rounded rotate">
      </div>
      <div class="col-md-8">
        <h2 class="about-me skill-card">About Me</h2>
        <p>
          I am Ahmed Emad, a dedicated MEAN-Stack Developer. I graduated from Helwan University, Faculty of Computers and Artificial Intelligence, in 2023. 
          My passion lies in creating efficient, scalable, and visually appealing web applications that provide a seamless user experience.
        </p>
          <a href="https://drive.google.com/file/d/1jOpGqyfbmnzdHiumeXXR3EO6xTg6jH4e/view?usp=drive_link" target="_blank">
            <button type="button" class="btn btn-outline-info">View My CV</button>
          </a>
      </div>
      
      
    </div>
  </div>
</section>
<section class="skills text-center py-5" id="skills-section">
  <div class="container">
    <h2 class="skills-title skill-card">My Skills</h2>
    <div class="row">
      <div class="col-md-3 mb-3 skill-card">
        <i class="fas fa-code fa-3x text-primary"></i>
        <h4>C++</h4>
      </div>
      <div class="col-md-3 mb-3 skill-card">
        <i class="fas fa-laptop-code fa-3x text-warning"></i>
        <h4>Web Development</h4>
      </div>
      <div class="col-md-3 mb-3 skill-card">
        <i class="fab fa-html5 fa-3x text-danger"></i>
        <h4>HTML</h4>
      </div>
      <div class="col-md-3 mb-3 skill-card">
        <i class="fab fa-css3-alt fa-3x text-primary"></i>
        <h4>CSS</h4>
      </div>
      <div class="col-md-3 mb-3 skill-card">
        <i class="fab fa-js-square fa-3x text-warning"></i>
        <h4>JavaScript/ES6</h4>
      </div>
      <div class="col-md-3 mb-3 skill-card">
        <i class="fas fa-code fa-3x text-success"></i>
        <h4>Typescript</h4>
      </div>
      <div class="col-md-3 mb-3 skill-card">
        <i class="fab fa-bootstrap fa-3x text-purple"></i>
        <h4>Bootstrap</h4>
      </div>
      <div class="col-md-3 mb-3 skill-card">
        <i class="fab fa-angular fa-3x text-danger"></i>
        <h4>Angular</h4>
      </div>
      <div class="col-md-3 mb-3 skill-card">
        <i class="fab fa-node fa-3x text-green"></i>
        <h4>NodeJS</h4>
      </div>
      <div class="col-md-3 mb-3 skill-card">
        <i class="fas fa-server fa-3x text-info"></i>
        <h4>Express</h4>
      </div>
      <div class="col-md-3 mb-3 skill-card">
        <i class="fas fa-database fa-3x text-success"></i>
        <h4>MongoDB</h4>
      </div>
      <div class="col-md-3 mb-3 skill-card">
        <i class="fas fa-paint-brush fa-3x text-cyan"></i>
        <h4>Tailwind CSS</h4>
      </div>
    </div>
  </div>
</section>
<section class="certificates text-center py-5">
  <div class="container">
    <h2 class="skills-title skill-card">My Certificates</h2>
    <div class="row">
      <div class="col-md-4 mb-4 skill-card">
        <i class="fas fa-award fa-3x text-primary mb-3"></i>
        <h4>Full-Stack Web Development</h4>
        <p>Udemy | 2023</p>
        <a href="link-to-certificate.pdf" class="btn btn-outline-info" target="_blank">View Certificate</a>
      </div>
      <div class="col-md-4 mb-4 skill-card">
        <i class="fas fa-certificate fa-3x text-success mb-3"></i>
        <h4>JavaScript Mastery</h4>
        <p>Coursera | 2022</p>
        <a href="link-to-certificate.pdf" class="btn btn-outline-info" target="_blank">View Certificate</a>
      </div>
      <div class="col-md-4 mb-4 skill-card">
        <i class="fas fa-laptop-code fa-3x text-warning mb-3"></i>
        <h4>Angular & NodeJS</h4>
        <p>Udacity | 2023</p>
        <a href="link-to-certificate.pdf" class="btn btn-outline-info" target="_blank">View Certificate</a>
      </div>
    </div>
  </div>
</section>
<div class="experience-timer-container">
  <div class="experience-counter">
    <h2><span class="skill-card">My Experience</span></h2>
    <div class="counter mt-3">
      <span class="years">{{years}}</span> years
      <span class="months">{{months}}</span> months
    </div>
  </div>
</div>